

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&family=Hind:wght@300&family=Karla&family=Montserrat:wght@200&family=Noto+Serif+TC:wght@300;500&family=Oswald&family=Roboto:wght@100&display=swap');
</style>

*{
	box-sizing:border-box;
	margin:0;
	padding:0; 
}

html {
	width: 100%;
	height: 100%;
	overflow-x:hidden;
	overflow-y:auto;

}


body{
	height: 100%;
	width:100%;
	background-color: #fefdfa ;
	padding:0;
	margin:0;
}


div{
	position:absolute top:0px ;

}

header{
	width:100%;
	height:18%;
	background-color:#adb0a7 ;
	color:#faf8ed;
	text-align:center;
	font-family:hind;
	padding:35px 0px 0px;
	font-size: 30px;
	float:top;
}

.boxBorder{
	 border: 1.85px solid #faf8ed;
     padding: 0px 30px;
     
}

nav > a {
	color:#808080 ;
	margin:50px 35px 0px 30px;
	font-family:Hind;
	font-size: 15px;
	text-align:center;
	position:absolute:top:25px left 50px;
	text-decoration:none;

}


nav > a:hover{
	color:#faf8ed ;
	border-bottom: 2px solid #faf8ed;
}



article{
	background-color: #fefdfa; 
    width: 100%;
	height: 100%;
    padding:50px 80px 50px 80px;

}


h1{

	font-family:noto sans;
	color:  #3e3e3e; 
	font-size:40px;
	word-spacing:10px;
	margin : 5px 0px; 
	position: absolute ; top:265px  ;left: 420px;
	float:center;
	text-align:center;


}


h2{
	font-family:montserrat;
	color:orange ;
	font-size:15px;
    position: absolute ; top:325px;left: 570px;
    color:#cc700e;
    font-style:thin;
    text-align:center;
}


img{
	max-width:100%;
	height:auto;
	width:60%;
	display:block;
    float:center;
    position:absolute; top:400px ;left:268px;
}


footer{
	width:100%;
	height: 8%;
    background-color:#808080 ;
    color:white;
	font-family:hind;
    margin: 10px 0px 0px 0px;
	position:absolute; top:1480px;
}