@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Cormorant+Garamond&family=Crimson+Text&family=Open+Sans&family=Playfair+Display&family=Playfair+Display+SC&display=swap');

*{
	box-sizing:border-box;
	margin:0;
	padding:0; 
}

html {
	width: 100%;
	height: 100%;
	overflow-x:hidden;
	overflow-y:auto;

}

body{
	height: 100%;
	width:100%;
	background-color: #EFEEEE;

}




header{
	width:100%;
	height:18%;
	background-color:#555 ;
	color:white;
	text-align:center;
	font-family:hind;
	padding:0;
	margin:0;
	position:absolute; top:0px;
}




nav {

	margin:14vh 0 1.2vh 0;
	padding:3.4vh 3.4vh;
	text-align:center;
   

}
	 
nav>a{
	color:black;
	font-family:serif;
	font-size: 2.2vh;
	padding:2vh 2vh;
	text-decoration:none;
}




nav > a:hover{
	color:red ;
}


hr{
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1.5px;
  margin-top:-8px;
}





h1{
    width:100%;
	height:24%;
	color:#faf8ed;
	text-align:center;
	font-family:hind;
	padding:20px 0px 0px 0px;
	font-size: 5vh;
	
	
}


h2{
    width:100%;
	height:10%;
	color:#939191;
	text-align:center;
	font-family:sans-serif;
	padding:50px 0px 0px 0px;
	font-style:thin;
	font-size: 1.6vh;
	word-spacing:20px;
}


article{
    width: 100%;
	height: 100%;

}


.img1{
	height:auto;
	width:40%;
	margin:15vh 5vw;
}

h3{
	color:black;
	margin-top:28vh;
	margin-right:10vw;
	font-family:sans-serif;
	font-size: 8vh;
	text-align: left;
	float:right;
	

}

.deco1, .deco2{
	font-size:20vh;
	font-style: bold;
	color:#cc700e;
	font-family:sans-serif;
	color:#990000;
}

.deco1{
	position:absolute; top:55vh; right:5vw;
}

.deco2{
   position: absolute ;top:55vh ;right:44vw;
}


.s1>p{
	color:#990000;
	text-align:center;
	font-family:playfair displlay;
	padding: 10px 200px;
	font-size: 4vh;	
	float:center;

}


.s1>img{
	height:auto;
	width:100%;
	margin-top:50px;
	filter:grayscale(60%);
}


.s2>p{
	color:#990000;
	text-align:center;
	font-family:playfair displlay;
	font-size: 4vh;
	padding: 10px 100px;
	margin:60px;
	float:center;

}


.s3>p{
	color:#555;
	text-align:left;
	font-family:playfair displlay;
	font-size: 4.8vh;
	padding: 10px 20px;
    margin:50px 50px;
	position:relative: top:50px; left:10px;
}


.s3>img{
	display:inline-block;
    height:auto;
	width:20%;
	margin-top:25px;
	margin-right:50px;
	filter:grayscale(100%);
	float:right;
}


footer{
	width:100%;
	height: 8%;
    background-color:#555 ;
    color:white;
	font-family:hind;
    margin: 10px 0px 0px 0px;
	position:absolute; top:2500px;
}