@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Cormorant+Garamond&family=Crimson+Text&family=Open+Sans&family=Playfair+Display&family=Playfair+Display+SC&display=swap');

*{
	box-sizing:border-box;
	margin:0;
	padding:0; 
}

html {
	width: 100%;
	height: 100%;
	overflow-x:hidden;
	overflow-y:auto;

}

body{
	height: 100%;
	width:100%;
	background-color: #EFEEEE;

}




header{
	width:100%;
	height:18%;
	background-color:#555 ;
	color:white;
	text-align:center;
	font-family:hind;
	padding:0;
	margin:0;
	position:absolute; top:0px;
}




nav {

	margin:14vh 0 1.2vh 0;
	padding:3.4vh 3.4vh;
	text-align:center;
   

}
	 
nav>a{
	color:black;
	font-family:serif;
	font-size: 2.2vh;
	padding:2vh 2vh;
	text-decoration:none;
}




nav > a:hover{
	color:red ;
}


hr{
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1.5px;
  margin-top:-8px;
}





h1{
    width:100%;
	height:24%;
	color:#faf8ed;
	text-align:center;
	font-family:hind;
	padding:20px 0px 0px 0px;
	font-size: 5vh;
	
	
}


h2{
    width:100%;
	height:10%;
	color:#939191;
	text-align:center;
	font-family:sans-serif;
	padding:50px 0px 0px 0px;
	font-style:thin;
	font-size: 1.6vh;
	word-spacing:20px;
}


article{
    width: 100%;
	height: 100%;

}


.img1{
	height:auto;
	width:40%;
	margin:15vh 5vw;
}

h3{
	color:black;
	margin-top:25vh;
	margin-right:13vw;
	font-family:sans-serif;
	font-size: 7vh;
	text-align:left;
	word-spacing:5px;
	float:right;
	

}

.deco1, .deco2{
	font-size:20vh;
	font-style: bold;
	color:#cc700e;
	font-family:sans-serif;
	color:#990000;
}

.deco1{
	position:absolute; top:55vh; right:5vw;
}

.deco2{
   position: absolute ;top:55vh ;right:44vw;
}


.s1>p{
	color:#990000;
	text-align:center;
	font-family:serif;
	padding: 10px 200px;
	font-size: 3vh;	
	float:center;

}


.s1>img{
	height:auto;
	width:100%;
	margin-top:50px;
	filter:grayscale(60%);
}


.s2>p{
	color:#990000;
	text-align:left;
	font-family:serif;
	padding: 10px 200px;
	margin:5vh 0 5vh 0;
	font-size: 3vh;	
	float:center;
}


h4{
    color:black;
	font-family:sans-serif;
	font-size: 5vh;	
	word-spacing:10px;
	margin:5vh 40vw 5vh 40vw;

    
}


img.s2-1{
	height:auto;
    width:40%;
    float:left;
    margin-right:20px;
}



img.s2-2{
    height:auto;
    width:30%;
    float:right;
    margin-left:20px;
    margin-bottom:10px;
}


img.s2-3{
    height:auto;
    width:37%;
    float:left;
    margin-right:20px;
    margin-bottom:20px;
   
}






footer{
	width:100%;
	height: 7vh;
    background-color:#555 ;
    color:white;
	font-family:hind;
	padding: 2vh 2vh;
	margin-top:20vh;
	position:relative; bottom:0;
    
}



